# Virtual environment
.venv/

# Python cache files
__pycache__/
*.py[cod]

# Test and coverage files
.pytest_cache/
.coverage
htmlcov/

# Ignore image files inside input/output
input/*
!input/.gitkeep

output/*
!output/.gitkeep

# macOS files
.DS_Store

# IDE/editor files
.vscode/
.idea/

# Build/package files
*.egg-info/